.cart-container-wrapper {
    width: 100vw;
    padding: 0 100px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.cart-title {
    width: 100%;
    margin-bottom: 55px;
    margin-top: 80px;
    font-family: raleway-700;
    font-size: 32px;
    line-height: 40px;
    color: #1D1F22;
    max-width: 1440px;
}

.cart-item-container {
    width: 100%;
    max-width: 1440px;
    margin-left: auto;
}

.cart-item-wrapper {
    width: 100%;
    border-top: solid #E5E5E5 1px;
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
}

.cart-details-brand {
    font-family: raleway-600;
    font-size: 30px;
    line-height: 27px;
    color: #1D1F22;
    margin-bottom: 16px;
}

.cart-details-name {
    font-family: raleway-400;
    font-size: 30px;
    line-height: 27px;
    color: #1D1F22;
    margin-bottom: 20px;
}

.cart-details-price {
    font-family: raleway-700;
    font-size: 24px;
    line-height: 24px;
    color: #1D1F22;
}

.cart-details-attributes-container {
    padding-top: 20px;
}

.cart-container-wrapper .cart-images-container .cart-images-actions {
    height: 288px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 24px;
}

.cart-images-container {
    display: flex;
}

.cart-container-wrapper .cart-plus,
.cart-container-wrapper .cart-minus {
    width: 45px;
    height: 45px;
    cursor: pointer;
    border: 1px solid #1D1F22;
    line-height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
    font-family: raleway-300;
}

.cart-container-wrapper .cart-minus {
    align-items: flex-start;
    padding-top: 17px;
}


/* .cart-images-container .cart-images-actions img {
    width: 45px;
    height: 45px;
    cursor: pointer;
} */

.cart-container .cart-images-container .cart-images-img {
    width: 200px;
    height: 288px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.cart-images-img .cart-actual-image {
    width: 100%;
}

.total-container {
    width: 100%;
    padding: 0 0 32px;
}

.total-details {
    font-family: raleway-400;
    font-size: 24px;
    line-height: 28px;
    color: #1D1F22;
    margin-bottom: 8px;
}

.total-details span {
    font-family: raleway-700;
    line-height: 24px;
}

.total-details:last-child {
    margin-bottom: 0;
}

.total-button button {
    border: none;
    padding: 13px 0;
    width: 279px;
    color: white;
    background: #5ECE7B;
    text-align: center;
    font-family: raleway-600;
    font-size: 14px;
    line-height: 17px;
    cursor: pointer;
    margin-top: 20px;
}

.cart-images-wrapper {
    width: 100%;
    position: relative;
}

.image-navigator {
    margin-right: 16px;
    display: flex;
    justify-content: flex-end;
    margin-top: -40px;
}

.image-navigator img {
    width: 24px;
    cursor: pointer;
}

.image-navigator img:last-child {
    margin-left: 8px;
}

.cart-quantity-div {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: raleway-500;
    font-size: 24px;
    font-size: 38px;
    color: #1D1F22;
}

.total-border {
    border-top: solid #E5E5E5 1px;
    margin-bottom: 32px;
}