* {
    box-sizing: border-box;
}


/* FONTS... */

@font-face {
    font-family: raleway-300;
    src: url(../fonts/Raleway-Light.ttf);
}

@font-face {
    font-family: raleway-400;
    src: url(../fonts/Raleway-Regular.ttf);
}

@font-face {
    font-family: raleway-500;
    src: url(../fonts/Raleway-Medium.ttf);
}

@font-face {
    font-family: raleway-600;
    src: url(../fonts/Raleway-SemiBold.ttf);
}

@font-face {
    font-family: raleway-700;
    src: url(../fonts/Raleway-Bold.ttf);
}

body {
    padding: 0;
    margin: 0;
    background: #FFFFFF;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

.container {
    width: 100vw;
    position: relative;
}

a {
    text-decoration: none;
}